.btn-hamburguesa {
  display: none;
  min-width: 55px;
}

@media (max-width: 720px) {
  .btn-hamburguesa {
    display: flex;
    justify-content: center;
  }
  mat-icon {
    font-size: 30px;
    height: 55px;
    width: 55px;
    line-height: 55px;
    color: white;
  }
}